
<div class="row">

  	<div class="notification success closeable" ng-show="mSuccess">
	<p><span>Success!</span>{{mSuccess}}</p>
  </div>
    
  <div class="col-md-12">

		<div class="header-widget">
					<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim button border"><i class="sl sl-icon-login"></i> Add</a>
				</div>

			<div class="main-search-input ">

						<div class="main-search-input-item">
							<input type="text" placeholder="Enter search here ...." ng-model="q" ng-keyup="($event.keyCode == 13 && searchFilter())" >
						</div>
						
						<div class="main-search-input-item ">
							<button class="button border" style="width:50%;float:right;background:#03A9F4" ng-click="searchFilter()">Search</button>
						</div>

					</div>

          <div class="add-listing-section margin-top-15">
			

					<div class="clearfix"></div>
          <table class="basic-table margin-top-15">

        <thead >
       	<tr>
					<th>#</th>
          <th>Name</th>
          <th>Last modified</th>
          <th width="100">Actions</th>
        </tr>
        </thead>
        <tbody>
			<tr ng-show="mError"><td colspan="4">
				<div class="notification error closeable">
					<p style="text-align:center"> {{mError}}</p>
				</div>
			</td></tr>

          <tr ng-repeat="detail in details">
          <td scope="row">{{$index+1}}</td>
          <td>{{detail.name}}</td>
          <td>{{detail.updated_at }}</td>
          <td width = "200">
			  <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim " ng-click="editMaster(detail)"><i class="fa fa-edit"></i></a>
			  <a href="#delete-in-dialog" class="sign-in popup-with-zoom-anim" ng-click="delModal(detail)"><i class="fa fa-trash-o"></i></a>
			  </td>          
         
        </tr> 
        </tbody>

			
			</table>
            
          </div>


             <div class="pagination-container margin-top-30 margin-bottom-0">
               	<nav class="pagination">
      <ul >
        <li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(1)">&laquo;</a></li>
        <li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(currentPage-1)">&lsaquo; Prev</a></li>
        <li ng-repeat="i in range" ><a href="javascript:void(0)" ng-class="{'current-page' : currentPage == i}" ng-click="init(i)">{{i}}</a>
        </li>
        <li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(currentPage+1)">Next &rsaquo;</a></li>
        <li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(totalPages)">&raquo;</a></li>
      </ul>
               	</nav>
    </div>


  </div>   

        	<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Amenities</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">
					<div class="tabs-container alt">
						<!-- Register -->
						<div class="tab-content" id="tab2" >
					<form name="masterForm" id="masterForm" class="register" ng-submit="submitMaster(this)" novalidate>
							<p class="form-row form-row-wide">
								<label for="username2">Name:
						<input type="text" placeholder="Enter amenities" name="amenities" id="amenities" ng-model="master.name" required class="input-text" ng-focus="true">
						<span ng-show="masterForm.$submitted">
						<span ng-show="masterForm.amenities.$invalid" class="aerror">The name is required.</span>
						</label>
							</p>
							<!-- <input type="submit" class="button border fw margin-top-10"  value="Submit" /> -->
							<button type="submit" class="button border " >submit</button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->

			<!-- Delete In Popup -->
			<div id="delete-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Alert!</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">
					<div class="tabs-container alt">
						<!-- Register -->
						<div class="tab-content" id="tab2" >
							<p class="form-row form-row-wide">
							<p>Are you sure want to delete?</p>	
							</p>
							<!-- <input type="submit" class="button border fw margin-top-10"  value="Submit" /> -->
							<button type="button" class="button border closed" ng-click="deleteMaster()">submit</button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->
			


<style>

.customdialog {
    max-width: 500px;
        background: #fff;
    padding: 40px;
    padding-top: 0;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
        color: #fff;
}

.small-dialog-header{
  margin-bottom: 0px;
}

.add-listing-headline {
    padding: 10px 10px;
}
 
#delete-in-dialog, #small-dialog {
    background: #fff;
    padding: 40px;
    padding-top: 0;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
}
#delete-in-dialog {
    max-width: 500px;
}

 #delete-in-dialog .mfp-close:hover, #small-dialog .mfp-close:hover {
    background-color: #f91942;
}
#delete-in-dialog .mfp-close:hover, #small-dialog .mfp-close:hover {
    color: #fff;
    transform: rotate(0);
    /* background-color: #66676b; */
}

#delete-in-dialog .mfp-close, #small-dialog .mfp-close {
    color: #666;
    background-color: #e4e4e4;
    border-radius: 50%;
    top: 15px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.og-close:after, .og-close:before, .mfp-close:after, .mfp-close:before {
    top: 4px;
}


table.basic-table tbody td a{
        padding: 10px 15px;
    border: 1px solid #f91942;
}
table.basic-table tbody td a:hover{
        background: #f91942;
				color:white;
}

.header-widget .sign-in {
    color: white;
  
}

#dashboard #titlebar {
    margin: 0 0 5px 0;
 
}

.main-search-input {
    margin-top: 10px;
}
.sign-in-form .button {
    float: right;
}
.style-1 .tabs-container .tab-content {
    padding: 10px 0 0 0;
}

.small-dialog-header {
    padding: 20px 25px;
 
}
#sign-in-dialog .mfp-close, #small-dialog .mfp-close {
    top: 15px;
}

.aerror{
	    font-weight: 500;
    color: red;
}
</style>
<script type="javascript">
    $(.closed).on("click", ".popup-with-zoom-anim", function(e) {

            e.preventDefault();

            $(this).magnificPopup({
                type: 'inline',

				fixedContentPos: false,
				fixedBgPos: true,

				overflowY: 'auto',

				closeBtnInside: true,
				preloader: false,

				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
            }).magnificPopup('open');
		}); 
</script>