
<div class="row">

  <div class="notification error closeable" ng-show="mError">
				<p><span>Error!</span> {{mError}}</p>
	</div>

	<div class="notification success closeable" ng-show="mSuccess">
	<p><span>Success!</span>{{mSuccess}}</p>
  </div>


  <!-- Right Side Content / End -->
			<div class="right-side">
				<div class="header-widget">
					<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Sign In</a>
				</div>
			</div>
      <!-- Right Side Content / End -->
      


      

  <!-- <div class="col-md-4">
 <div class="add-listing-section ">

						
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-location"></i> Amenities</h3>
						</div>

						<div class="submit-section">
             	<form name="masterForm" method="post" ng-submit="submitMaster(masterForm)" ng-validate="validationOptions"  >
						
							<div class="row with-forms">

						
								<div class="col-md-12">
									<h5>Name</h5>
									<input type="text" placeholder="Enter amenities" name="amenities" ng-model="master.name" >
                </div>
                
                <div class="col-md-12">
                  <h5>.</h5>
									<button type="submit" class="button border ">submit</button>
                </div>
                

							</div>
              </form>

						</div>
					</div>
          
  </div> 

  -->


  <div class="col-md-12">
          <div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
						<input type="text" placeholder="Search here..." ng-model="q" >
						</div>

          <table class="basic-table">

        <thead >
       	<tr>
					<th>#</th>
          <th>Name</th>
          <th>Last modified</th>
          <th width="100">Actions</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="detail in details">
          <td scope="row">{{$index+1}}</td>
          <td>{{detail.name}}</td>
          <td>{{detail.updated_at }}</td>
          <td>
			  <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim " ng-click="editMaster(detail)"><i class="fa fa-edit"></i></a>
			  <a href="#delete-in-dialog" class="sign-in popup-with-zoom-anim"><i class="fa fa-trash-o"></i></a>
			   
				<!-- <a href="javascript:;" class="button border with-icon " ng-click="editMaster(detail)" ><i class="fa fa-edit"></i> </a>
               <a href="#delete-in-dialog" class="button border with-icon "><i class="fa fa-trash-o"></i> </a> -->
               
          </td>          
         
        </tr> 
        </tbody>

			
			</table>
            
          </div>


             <div class="pagination-container margin-top-30 margin-bottom-0">
               	<nav class="pagination">
      <ul >
        <li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(1)">&laquo;</a></li>
        <li ng-show="currentPage != 1"><a href="javascript:void(0)" ng-click="init(currentPage-1)">&lsaquo; Prev</a></li>
        <li ng-repeat="i in range" ><a href="javascript:void(0)" ng-class="{'current-page' : currentPage == i}" ng-click="init(i)">{{i}}</a>
        </li>
        <li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(currentPage+1)">Next &rsaquo;</a></li>
        <li ng-show="currentPage != totalPages"><a href="javascript:void(0)" ng-click="init(totalPages)">&raquo;</a></li>
      </ul>
               	</nav>
    </div>


  </div>   

        	<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>

				<!--Tabs -->
				<div class="sign-in-form style-1">

					<div class="tabs-container alt">

						<!-- Register -->
						<div class="tab-content" id="tab2" >

	
					<form name="masterForm" method="post" ng-submit="submitMaster(masterForm)" ng-validate="validationOptions" class="register" >
								
							<p class="form-row form-row-wide">
								<label for="username2">Name:
									<i class="im im-icon-Male"></i>
									<input type="text" placeholder="Enter amenities" name="amenities" ng-model="master.name" class="input-text">
								</label>
							</p>
							<!-- <input type="submit" class="button border fw margin-top-10"  value="Submit" /> -->
							<button type="submit" class="button border ">submit</button>
							</form>
						</div>

					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->


<style>

.customdialog {
    max-width: 500px;
        background: #fff;
    padding: 40px;
    padding-top: 0;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
        color: #fff;
}

.small-dialog-header{
  margin-bottom: 0px;
}

.add-listing-headline {
    padding: 10px 10px;
}
  .button{
    width : 100%
}
</style>
